div{
    background-color: rgb(89,86,71);
    color: white;
}
h1,h2,h3{
    color: #9cf;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div>p>span
{
    color: #cc8;
    font-weight: bold;
}
li>a
{
    color: sienna;
}
li>span{
   font-family: Arial, Helvetica, sans-serif ;
   font-size: large;
}
#validate
{
    text-align: center;
}
li>a{
    text-decoration: none;
    
}
li>a:hover{
    text-decoration: underline;
}
p::first-letter{
   font-size: 150%;
}
li>h4{
    color: #cc8;
}
li>p{
    
    padding-left: 50px;
   
}
li>p::first-letter{
    font-size: 100%;
 }